<% @entries.each do |entry| %>
  <div>
    <h1><%= link_to entry.author, target: :blank %><%= link_to fa_icon("trash"), entry_path(entry.id), method: :delete %></h1>
    <%= entry.photo_url %>
    <%= entry.date_taken %>
  </div>
<% end %>

<%= form_for @entry do |f| %>
  <%= f.label :author %>:
  <%= f.text_field :author %><br />

  <%= f.label :photo_url %>:
  <%= f.text_field :photo_url %><br />

  <%= f.label :date_taken %>:
  <%= f.text_field :date_taken %><br />

  <%= f.submit %>
<% end %>


